.form-wrapper {
    // background-color: #f0f0f0; /* Gri zemin */
    //padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.left-form .full-width {
    width: 100%;
}

.left-form input,
.left-form p-dropdown,
.left-form p-calendar,
.left-form textarea {
    width: 100%;
}

.preview-area img {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-wrapper  input:not([type="checkbox"]):not([type="radio"]),
.form-wrapper p-dropdown,
.form-wrapper p-calendar,
.form-wrapper p-inputtext,
.form-wrapper textarea {
    width: 100%;
    box-sizing: border-box;
}

::ng-deep  .p-calendar {
    width: 100% !important;
}

::ng-deep  .p-calendar input {
    width: 100% !important;
    box-sizing: border-box;
}

::ng-deep   .p-dropdown {
    width: 100% !important;
}

::ng-deep  .p-dropdown input {
    width: 100% !important;
    box-sizing: border-box;
}
