<p-toast></p-toast>
<div class="dashboard-container">
    <div class="dashboard-grid" style="margin-left: 20px;">
        <div class="card stat-card" *ngFor="let item of subMenuList; let i = index;" [ngClass]="{
                'stat-card-warning': i === 1,
                'stat-card-danger': i === 2,
                'stat-card-success': i === 3,
                'stat-card-primary': i !== 1 && i !== 2 && i !== 3,
                'selected-card': selectedCardId === item.id
            }" (click)="getFormListWithStatusIdAndUserId(item.id,this.user.id)" style="cursor: pointer;">
            <div class="stat-content">
                <div class="stat-icon">
                    <i [class]="item.icon"></i>
                </div>
                <div class="stat-details">
                    <span class="stat-value">{{ item.number || 0 }}</span>
                    <span class="stat-label">{{ item.name | translate }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toolbar styleClass="mt-5">
    <div class="my-2">
        <button *ngIf="selectedCardId == 1" pButton pRipple label="{{'sendApprove' | translate}}" icon="pi pi-plus"
            (click)="sendApprove()" class="p-button-success mr-2"></button>
        <button pButton pRipple label="{{'button.update' | translate}}" icon="pi pi-pencil" class="p-button-info"
            (click)="goDetail()"></button>
        <button pButton pRipple label="{{'button.pdf' | translate}}" icon="pi pi-file-pdf" class="p-button-danger ml-2"
            (click)="downloadPdf()"></button>
    </div>
</p-toolbar>
<p-panel styleClass="mt-2">
    <div *ngIf="data">
        <app-datagrid-for-format [Data]="data" [customizeOptions]="customizeGrid" [columns]="column"
            [detailColumns]="detailColumn" [selectedData]="selectedRow" (setSelectedRows)="setSelectedRows($event)"
            [selectionMode]="'multipleButOneColumn'" [detailHeader]="detailHeader"></app-datagrid-for-format>
    </div>
</p-panel>