<div class="workflow-form-container">
  <div class="surface-card p-3 shadow-1 border-round mb-4 flex flex-column lg:flex-row justify-content-between align-items-center gap-3">
    <div class="flex flex-column md:flex-row align-items-center gap-2 w-full lg:w-auto">
      <div class="flex flex-column md:flex-row align-items-center surface-ground border-round p-1 border-1 surface-border w-full">
        <div class="flex align-items-center text-color-secondary font-medium px-2 py-2 md:py-0 white-space-nowrap">
          <i class="pi pi-filter mr-2"></i>Filtreler
        </div>
        
        <p-select [options]="formTypeList" optionLabel="name" [(ngModel)]="selectedFormType"
          (onChange)="changeSelectedFormType($event)" showClear="true" [placeholder]="'workFlow.formTypeName' | translate"
          class="w-full md:w-20rem mr-1 mb-2 md:mb-0" inputId="formTypeList"
          [filter]="true" filterBy="name"></p-select>

        <button pButton pRipple label="{{'workFlow.search' | translate}}" icon="pi pi-search" class="p-button-primary font-bold w-full md:w-auto px-5"
          style="min-width: 8rem;" (click)="getUser()"></button>
      </div>
    </div>

    <div class="flex flex-column md:flex-row align-items-stretch md:align-items-center gap-2 flex-wrap w-full lg:w-auto mt-3 lg:mt-0">
      <button pButton pRipple label="{{'button.detail' | translate}}" icon="pi pi-save"
        class="p-button-info w-full md:w-auto" (click)="detail()"></button>
    </div>
  </div>
  <div class="mt-4">
    <p-panel>
      <app-datagrid-for-format [Data]="data" [customizeOptions]="customizeGrid" [selectedData]="selectedRow"
        (setSelectedData)="setSelectedRow($event)" [selectionMode]="'single'"
        [columns]="column"></app-datagrid-for-format>
    </p-panel>
  </div>


  <p-toast></p-toast>
</div>